hr {
  width: 100%;
  margin: 20px 0;
}

@media (min-width: 600px) {
  body {
    max-width: 750px;
    margin: 0 auto;
    .bodyContainer {
      max-width: 750px;
    }
  }
}

@media only screen and (max-width: 1000px) and (min-width: 500px) {
  body {
    max-width: 500px;
    margin: 0 auto;
    .bodyContainer {
      max-width: 750px;
    }
  }
}

body {
  height: 93vh;
}
