:root {
  --default-color: #fff33d;
  --default-color-dark: #cccc00;
  --second-color: #d32422;
  --second-color-dark: #861414;
  --black-color: #000;
  --white-color: #f6f6f6;

  --default-padding: 35px;
  --default-margin: 20px;
}
